<!DOCTYPE html>
<html lang="en" data-ng-app="eam">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{eam.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">EAM</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!eam.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="eam.layout.isRTL">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!eam.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="eam.layout.isRTL">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{eam.layout.theme}}" data-ng-if="eam.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : eam.layout.isFixed, 'aside-collapsed' : eam.layout.isCollapsed, 'layout-boxed' : eam.layout.isBoxed, 'layout-fs': eam.useFullLayout, 'hidden-footer': eam.hiddenFooter, 'layout-h': eam.layout.horizontal, 'aside-float': eam.layout.isFloat, 'offsidebar-open': eam.offsidebarOpen, 'aside-toggled': eam.asideToggled}">
   <div data-preloader></div>
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
</body>

</html>